/* Reset basic styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  font-family: Arial, sans-serif;
}

/* Grid container for the entire page */
.resetpassword-page-container {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Two equal columns */
  min-height: 100vh; /* Full height of the viewport */
  background-color: #D9d9d9d9; /* Background color for the page */
}

/* Styling for the logo container (left side) */
.resetpassword-logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Styling for the reset password form container (right side) */
.resetpassword-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Media Query for screens with width 600px or less */
@media only screen and (max-width: 600px) {
  .resetpassword-page-container {
    grid-template-columns: 1fr; /* Switch to a single column layout */
  }

  .resetpassword-logo-container {
    display: none; /* Hide the logo */
  }
}
