/* Reset basic styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  font-family: Arial, sans-serif;
}

/* Grid container for the entire page */
.forgotpassword-page-container {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Two equal columns */
  min-height: 100vh; /* Full height of the viewport */
  background-color: #D9d9d9d9; /* Background color for the page */
}

/* Styling for the logo container (left side) */
.forgotpassword-logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Styling for the reset password form container (right side) */
.forgotpassword-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%; /* Ensure it takes the full width when the layout switches to one column */
}

/* Media query to hide the logo on small screens */
@media only screen and (max-width: 600px) {
  .forgotpassword-page-container {
    grid-template-columns: 1fr; /* Adjust layout to a single column */
  }

  .forgotpassword-logo-container {
    display: none; /* Hide the logo */
  }

  .forgotpassword-container {
    width: 100%; /* Ensure the container takes up the full width */
    justify-content: center; /* Center the content within the full-width container */
  }
}
