/* Reset some basic styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  font-family: Arial, sans-serif;
}

/* Container to center content */
.forgot-password-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Box for the form */
.forgot-password-box {
  width: 100%;
  height: 100vh;
  background-color:#27035A;
  text-align: center;
}

/* Title styling */
.forgot-password-title {
  color: white;
  margin-top: 50px;
  font-weight: bold;
  margin-bottom: 20px;
}

/* Subtitle styling */
.forgot-password-subtitle {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 40px;
}

/* Text paragraph styling */
.forgot-password-text {
  color: white;
  margin-bottom: 20px;
}

/* Input field styling */
.forgot-password-input {
  width: 100%;
  padding: 20px;
  margin-top: 20px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

/* Button styling */
.forgot-password-button {
  width: 100%;
  padding: 20px;
  margin-top: 30px;
  background-color: #97150D;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.forgot-password-button:disabled {
  background-color: #999;
}

/* Button hover effect */
.forgot-password-button:hover {
  background-color: #a00000;
}
